/*
:root > * {
    --md-default-bg-color: #19161f;
    --md-footer-bg-color--dark: #24202e;
    --md-default-bg-color--light: #1f1e26;
    --md-default-bg-color--lighter: #24202e;

    --md-primary-fg-color: #24202e;
    --md-primary-fg-color--light: #dddddd;
    --md-primary-fg-color--dark: #aaaaaa;

    --md-typeset-color: white;
    --md-typeset-a-color: #0ed3fe;
    --md-default-fg-color--light: #dddddd;
}
*/*/*/*/*/*/*/*/
